{% extends 'base.html' %} {% block content %}
<!-- Hero Section -->
<div class="hero-section">
  <img src="{% static 'images/image30.png' %}" alt="Blood Donation" />
</div>

<!-- Main Content -->
<div class="container main-content">
  <h1>MOTIVE</h1>

  <div class="content-section">
    <div class="content-text">
      <h2 class="text-danger"><b>Blood Donation</b></h2>
      <p>
        Today, most blood donors in developed countries are unpaid volunteers
        who donate blood for community supply. Some countries have established
        blood banks while others depend on family members to donate blood for
        their loved ones. Blood donation has several reasons including charity,
        social awareness, and helping friends or relatives. Despite the many
        reasons, the number of active donors is insufficient. However, during
        disasters, blood donations rise significantly, sometimes leading to
        excess supply.
      </p>
    </div>
    <div class="content-img">
      <img src="{% static 'images/image17.png' %}" alt="Blood Donation Image" />
    </div>
  </div>

  <!-- Motivational Videos -->
  <div class="video-section">
    <h2>MOTIVATIONAL VIDEOS</h2>

    <div class="row">
      <div class="col-md-4">
        <iframe
          width="100%"
          height="260px"
          src="https://www.youtube.com/embed/Q55LrC7vijM"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          width="100%"
          height="260px"
          src="https://www.youtube.com/embed/jmhiHKsEUXU"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-md-4">
        <iframe
          width="100%"
          height="260px"
          src="https://www.youtube.com/embed/Yxql1GVPJVk"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
